<div class="container-fluid">
    <div class="row justify-content-center">
        <b>
      <h3>
        SCUOLA
      </h3>
    </b>
    </div>
    <div class="row justify-content-center">
        <tabset type="pills">
            <br>
            <tab heading="Superiori">
                Ho frequentato l'istituto tecnico indirizzo informatica e telecomunicazione<br> al J.F.Kennedy Monselice (PD).
                <br> Ho studiato C++, PHP5, JAVA, HTML5, CSS, MYSQL, ACCESS a livello scolastico. <br> Realizzato piccoli progetti scolastici con arduino uno. <br> In sistemi e reti utilizzato CISCO TRACER per delle semplici infrastutture di rete.<br>
                <img src="assets/images/kennedy.png" height="420px" alt="immagine1">


            </tab>
            <tab heading="ITS ICT">
                Sto frequentando l'ITS ICT (istituto tecnico superiore di alta formazione)<br> a Padova presso l'azienda Corvallis afferente al ramo cloud &<br> back end developer. <br> Utilizzo di JAVA livello avanzato. <br>Uso del framework SpringBoot,
                AngularCli connesso a un DB server <br> per sviluppare applicazioni web. <br> Per la parte sistemistica utilizzo di cisco tracert sviluppando reti complesse. <br> Virtualizzazione di sistemi operativi con manutenzione e gestione di essi.
                <br>
                <img src="assets/images/its.png" height="420px" alt="immagine1">


            </tab>
        </tabset>
    </div>


</div>