<div class="d-flex justify-content-center">
    <br> <br>
    <b>
                <h2> CONTATTAMI</h2>
        </b>
</div>
<br>
<div class="d-flex justify-content-center">
    <i> Per maggiori info contattami pure </i>
</div>
<br> <br> <br> <br>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary"> <img src="assets/images/email.jpg" alt="Funziona dio"
                        class="rounded-circle" (click)="pressed()"> <br> EMAIL <br>  stefanozogno00@gmail.com </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-outline-primary"> <img src="assets/images/phone.jpg" alt="..."
                        class="rounded-circle"> <br> PHONE <br>  + 39 3493885442 </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-outline-primary"> <img src="assets/images/linkedin.jpg" alt="..."
                        class="rounded-circle"> <br> LINKEDIN <br>  Stefano Zogno </button>
</div>