<head>

</head>

<body>
  <div class="container-fluid">
    <H2>LANGUAGES AND FRAMEWORKS KNOWN</H2>
    <div class="row">

      <div class="col-3">
        <div class="container">
          <img src="assets/images/java.png" alt="Avatar" class="image">
          <div class="overlay">Java 8</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/c.png" alt="Avatar" class="image">
          <div class="overlay">C++</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/html.png" alt="Avatar" class="image">
          <div class="overlay">HTML 5</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/css.png" alt="Avatar" class="image">
          <div class="overlay">CSS</div>
        </div>
      </div>

    </div>

    <br> <br> <br> <br> <br>

    <div class="row">

      <div class="col-3">
        <div class="container">
          <img src="assets/images/javascript.png" alt="Avatar" class="image">
          <div class="overlay">JAVASCRIPT</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/php.png" alt="Avatar" class="image">
          <div class="overlay">PHP5</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/angular.png" alt="Avatar" class="image">
          <div class="overlay">ANGULAR CLI 9</div>
        </div>
      </div>

      <div class="col-3">
        <div class="container">
          <img src="assets/images/spring.png" alt="Avatar" class="image">
          <div class="overlay">SPRING BOOT</div>
        </div>
      </div>
    </div>
  </div>

  <br> <br> <br> <br> <br>

  <H2> &nbsp; DATABASES KNOWN</H2>
  <div class="row">

    <div class="col-3">
      <div class="container">
        <img src="assets/images/mysql.svg" alt="Avatar" class="image">
        <div class="overlay">MYSQL</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/access.png" alt="Avatar" class="image">
        <div class="overlay">ACCESS</div>
      </div>
    </div>

    <div class="col-3">
    </div>

    <div class="col-3">
    </div>

  </div>

  <br> <br> <br> <br> <br>

  <H2> &nbsp; IDEs KNOWN</H2>
  <div class="row">

    <div class="col-3">
      <div class="container">
        <img src="assets/images/webstorm.png" alt="Avatar" class="image">
        <div class="overlay">WEBSTORM</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/vscode.png" alt="Avatar" class="image">
        <div class="overlay">VSCODE</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/eclipse.png" alt="Avatar" class="image">
        <div class="overlay">ECLIPSE</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/netbeans.png" alt="Avatar" class="image">
        <div class="overlay">NETBEANS</div>
      </div>
    </div>

  </div>

  <br> <br> <br> <br> <br>

  <H2> &nbsp; SOFTWARE AND GENERAL UTILITIES</H2>
  <div class="row">

    <div class="col-3">
      <div class="container">
        <img src="assets/images/cisco.png" alt="Avatar" class="image">
        <div class="overlay">CISCO PACKET TRACER</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/dbeaver.png" alt="Avatar" class="image">
        <div class="overlay">DBEAVER</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/docker.png" alt="Avatar" class="image">
        <div class="overlay">DOCKER</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/fork.png" alt="Avatar" class="image">
        <div class="overlay">FORK</div>
      </div>
    </div>

  </div>
  <br> <br> <br> <br> <br>
  <div class="row">

    <div class="col-3">
      <div class="container">
        <img src="assets/images/git.png" alt="Avatar" class="image">
        <div class="overlay">GIT</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/mysqlWorkbench.png" alt="Avatar" class="image">
        <div class="overlay">MYSQL WORKBENCH</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/office.png" alt="Avatar" class="image">
        <div class="overlay">PACCHETTO OFFICE</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/postman.png" alt="Avatar" class="image">
        <div class="overlay">POSTMAN</div>
      </div>
    </div>

  </div>
  <br> <br> <br> <br> <br>
  <div class="row">

    <div class="col-3">
      <div class="container">
        <img src="assets/images/vmware.jpg" alt="Avatar" class="image">
        <div class="overlay">VMWARE SPHERE</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/wmwareServer.png" alt="Avatar" class="image">
        <div class="overlay">VMWARE SERVER</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/gitlab.jpg" alt="Avatar" class="image">
        <div class="overlay">GITLAB</div>
      </div>
    </div>

    <div class="col-3">
      <div class="container">
        <img src="assets/images/solidworks.png" alt="Avatar" class="image">
        <div class="overlay">SOLIDWORKS</div>
      </div>
    </div>
  </div>

  <br> <br> <br> <br> <br>

  <div class="row">
    <div class="col-3">
      <div class="container">
        <img src="assets/images/apache.png" alt="Avatar" class="image">
        <div class="overlay">TOMCAT</div>
      </div>
    </div>


   
  </div>

</body>