<head>

</head>

<body>
    <div class="container-fluid">
        <h2>LANGUAGES E FRAMEWORKS CONOSCIUTI</h2> <br>
        <div class="row">

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/java.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">Java 8</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/c.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">C++</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/html.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">HTML 5</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/css.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">CSS</div>
                </div>
            </div>

        </div>

        <br> <br> <br> <br> <br>

        <div class="row">

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/javascript.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">JAVASCRIPT</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/php.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">PHP5</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/angular.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">ANGULAR CLI 9</div>
                </div>
            </div>

            <div class="col-3">
                <div class="container">
                    <img src="assets/images/spring.png" alt="Avatar" class="image" loading="lazy">
                    <div class="overlay">SPRING BOOT</div>
                </div>
            </div>
        </div>
    </div>

    <br> <br> <br> <br> <br>

    <div class="row">
        <div class="col-3">
            <div class="container">
                <img src="assets/images/laravel.jpg" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">LARAVEL</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/extjs.jpg" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">EXT JS</div>
            </div>
        </div>
    </div>

    <br> <br> <br> <br> <br>
    <hr>

    <H2> &nbsp; DATABASES CONOSCIUTI</H2> <br>
    <div class="row">

        <div class="col-3">
            <div class="container">
                <img src="assets/images/mysql.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">MYSQL</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/mariaDb.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">MARIA DB</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/access.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">ACCESS</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/mySqlServer2012.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">MY SQL SERVER 2012</div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col-3">
            <div class="container">
                <img src="assets/images/pg.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">POSTGRES</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/postGis.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">POSTGIS</div>
            </div>
        </div>

    </div>

    <br> <br> <br> <br> <br>
    <hr>

    <H2> &nbsp; IDEs CONOSCIUTI</H2> <br>
    <div class="row">

        <div class="col-3">
            <div class="container">
                <img src="assets/images/webstorm.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">WEBSTORM</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/vscode.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">VSCODE</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/eclipse.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">ECLIPSE</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/netbeans.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">NETBEANS</div>
            </div>
        </div>
    </div>

    <br> <br> <br> <br>
    <div class="row">
        <div class="col-3">
            <div class="container">
                <img src="assets/images/visual.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">VISUAL STUDIO</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/devc.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">DEV C++</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/phpstorm.jpg" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">PHP STORM</div>
            </div>
        </div>

    </div>

    <br> <br> <br> <br>
    <hr>
    <h2> &nbsp; SOFTWARE E PROGRAMMI D'UTILITA' CONOSCIUTI</h2> <br>
    <div class="row">

        <div class="col-3">
            <div class="container">
                <img src="assets/images/cisco.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">CISCO PACKET TRACER</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/dbeaver.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">DBEAVER</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/docker.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">DOCKER</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/fork.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">FORK</div>
            </div>
        </div>

    </div>
    <br> <br> <br> <br>
    <div class="row">

        <div class="col-3">
            <div class="container">
                <img src="assets/images/git.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">GIT</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/mysqlWorkbench.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">MYSQL WORKBENCH</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/office.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">PACCHETTO OFFICE</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/postman.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">POSTMAN</div>
            </div>
        </div>

    </div>
    <br> <br> <br> <br>
    <div class="row">

        <div class="col-3">
            <div class="container">
                <img src="assets/images/sublime.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">SUBLIME TEXT</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/wmwareServer.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">VMWARE SERVER</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/gitlab.jpg" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">GITLAB</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/solidworks.png" alt="Avatar" class="image" loading="lazy" loading="lazy">
                <div class="overlay">SOLIDWORKS</div>
            </div>
        </div>
    </div>

    <br> <br> <br> <br>

    <div class="row">
        <div class="col-3">
            <div class="container">
                <img src="assets/images/apache.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">TOMCAT</div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <img src="assets/images/aws.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">AMAZON WEB SERVICE</div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <img src="assets/images/datagrip.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">DATAGRIP</div>
            </div>
        </div>

        <div class="col-3">
            <div class="container">
                <img src="assets/images/pgadmin.png" alt="Avatar" class="image" loading="lazy">
                <div class="overlay">PGADMIN4</div>
            </div>
        </div>
    </div>
    <br>

</body>