<nav class="navbar navbar-expand-lg navbar-light  bg-light fixed-top bg-transparent ">
    <a class="navbar-brand" href="#"><b>Stefano Zogno</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav">
        <li class="nav-item">
            <!-- router-link -->
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/education']" routerLinkActive="router-link-active">ISTRUZIONE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skill']" routerLinkActive="router-link-active">SKILLS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/project']" routerLinkActive="router-link-active">
                <!--projects-->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">CONTATTI</a>
        </li>
    </ul>
</nav>
<br> <br> <br>
<router-outlet></router-outlet>