<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <b><h1> ABOUT ME</h1></b> <br>
        <h3>
          Mi chiamo Stefano Zogno, sono nato il 10/09/2000, abito a Padova (PD) e sono un giovane appassionato alla programmazione e
          al mondo dell'informatica fin da piccolo.
          I miei hobby in linea generale sono leggere, programmare e ovviamente praticare della sana attività fisica.
          Sono molto intraprendente, curioso e appassionato all'informatica e alle nuove tecnologie. </h3>
      </div>
      <div class="col lg-6">
        <img src="assets/images/profiloLinkedin.PNG" height="500px" alt="immagine">
      </div>
    </div>
  </div>
</div>
